:root{
  --background: #f5f8ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


ul {
  list-style-type: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Poppins', sans-serif;

}
a.custom-link {
  color: #4D47C3;
  text-decoration: none;
}

.container{
  max-width: 1240px;
  margin: auto;
}

.btn{
  padding: 14px 32px;
  border: 1px solid;
  
}




/**Fonts**/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');