.infoWrapper {
  padding: 3rem 3.5rem;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.875rem;
  background: #1e1e1e;
  padding: 2rem;
  gap: 2rem;
}

.info__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.info__item__img {
  border-radius: 1.4375rem;
  background: rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
}

.info__item__img img {
  width: 5.2rem;
  height: 5.2rem;
}

.info__item__text {
  color: var(--white, #fff);
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
