.signinContainer{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   max-height: 100vh;
   background-color: #f7f7f7;
  
}

/** logo **/
.logo-container {
  
  display: flex;
  align-items: center;
  margin-bottom: 0rem;
}
.logo{
  width: 64px;
  height: 65px;
  margin-left: 4px;
}
.logo-second {
  width: 80px;
  height: auto;
  margin-top: 4px; 
  margin-left: -2px; 
}

/** signin section **/
#signin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  padding: 0 4rem; 
}


.social-icon {
    text-decoration: none;
    color: #333; 
    margin-right: 10px; 
    transition: color 0.3s; 
    cursor: pointer;
}

/* Add styles for the #signin-form section */
#signin-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px; 
  margin-right: 70px;
  margin-top: -60px;
  justify-content: center;
  align-items: center;
  height: 100%; 
  }
  
  #signin-form .text-3xl {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 60px;
    margin-bottom: 0.5rem;
    }
  
  /* Style the input fields */
  #signin-form input[type="text"],
  #signin-form input[type="password"] {
    background-color: rgba(31, 216, 145, 0.26);
    border: none;
    border-radius: 0.25rem;
    padding: 0.7rem 1rem;
    width: 369px;
    height: 62px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.1rem;
  }
  
  
  
  #signin-form #Invisible {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  /* Style the 'Forgot password?' text */
  #signin-form .text-xs {
    font-family: 'Poppins', sans-serif;
    color: #b0b0b0;
    font-size: 0.8rem;
    margin-left: 15.7rem;
    margin-bottom: 1.5rem;
  }

    
  #signin .text-4xl {
    font-size: 24px;
    font-weight: medium;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
  }
  
  /* Style the login button */
  #signin-form button {
    background-color: #1fd891;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    height: 59px;
    width: 369px;
    box-shadow: 0px 4px 6px rgba(77, 71, 195, 0.4);
    margin-bottom: 1.5rem;
  }
  
  
  #signin-form .text-medium {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #b0b0b0;
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;

  }
  
  /* Style the social icons */

  #social-icons {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center; /* Center horizontally within the div */
    margin-top: 1rem; /* Add some top margin for spacing */
  }
  
  
  
  #signin .flex-col {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
  }
  
  #signin #SignInTo {
    font-size: 300px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }

  
  
  

  #signin #YouCanRegisterHere {
    font-weight: 400px;
    color: #4d47c3;
  }

  #signin-text{
    margin-left: 5rem;
    margin-bottom: 4rem;
  }
  
  #signin img#Saly {
    margin-top: 110px;
    margin-right:   50px;
    width: 250px; 
    height: auto; /* Maintain aspect ratio */
  }
  
  