body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }
  

.signInContainer{
    
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background-color: #f7f7f7;
   width: 1440px;
   height: 900px;
}

h1{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px;
    display: flex;
    position: relative;
    isolation: isolate;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 723.5174458535274px 0px 15px;
    box-sizing: border-box;
    align-self: stretch;
    margin: 0px;
}

.social-icon {
    text-decoration: none;
    color: #333; /* Icon color */
    margin-right: 10px; /* Adjust spacing between icons */
    transition: color 0.3s; /* Add a smooth color transition on hover */
  
    /* Define hover effect */
    &:hover {
      color: #007bff; /* Change color on hover */
    }
}