
  
  .teams-page h1{
        font-size: 48px;
        color: #000000;
        margin-bottom: 16px;
      }
  .teams-page h3 {
        font-size: 20px;
        color: #333;
        margin-bottom: 16px;
      }


      /* TeamsPage.css */

.teams-page {
  padding: 2rem;
}

.teams-header {
  text-align: center;
  margin-bottom: 2rem;
}

.strategizers-operators {
  text-align: center;
  margin-bottom: 2rem;
}

 .team-cards {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-categories {
  text-align: center;
}

.team-categories ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  cursor: pointer;
}

.team-categories li {
  margin: 0 1rem;
}

.team-categories li.active {
  color: var(--primary-color-green, #10C843);
  border-bottom: 1px solid var(--primary-color-green, #10C843);
  padding-bottom: 3px; 
  text-decoration: none;
}


.team-categories li:hover {
  color: var(--primary-color-green, #10C843);
  border-bottom: 1px solid transparent; 
  transform: translateY(-2px); 
}

.team-showcase{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}
