.hero .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.hero .left{
    padding: 3rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
    margin-left: 3rem;
}

.hero h1{
    color: var(--gray-900, #101828);
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    
}

.hero .input-container{
    padding: 1rem 0;
}


.hero .right{
    padding: 1rem;
    
}

.hero .img-container{
    width: 100%;
    display: flex;
    
}



.hero img{
    width: 600px;
    height: auto;
    margin-left: 40px;
}

.login-btn{
    text-align: center;
    padding: 16px 20px;
    margin-left: 5px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    border-radius: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
}

label{
    color: #747474;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* Style the select element */
select {
    padding: 5px;
    color: #747474;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    /* Add other styles as needed */
  }
  
  /* Style the default/placeholder option */
  select option[value=""]::before {
    content: ""; /* Empty content */
  }
  
  /* Style the other options */
  select option::before {
    content: ""; /* Empty content */
  }
  
  /* Style the down arrow icon using the ::before pseudo-element */
  select option[value=""]::before {
    content: "\f078"; /* Unicode for the down arrow icon from react-icons/fa */
    font-family: 'FontAwesome'; /* Use the FontAwesome icon font */
    padding-right: 10px; /* Adjust the spacing between the icon and text */
  }
  
@media screen and (max-width: 940px) {
    .hero .container{
        grid-template-columns: 1fr;
        margin: 1rem 0;
    }
    
}



/* Style the select element */

.search-section{
    display: flex;
    margin-top: 1rem;
    border-radius: 100px;
    border: 1px solid #F9F9F9;
    background: var(--white, #FFF);
    box-shadow: 0px 2.4px 8.6125px 0px rgba(0, 0, 0, 0.02), 0px 12px 53px 0px rgba(0, 0, 0, 0.04);
}
.custom-select {
    padding: 8px;
    margin-top: 10px;
    color: #747474;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 900;
    line-height: normal;
    border: none; /* Remove border */
    background-color: transparent; /* Make background transparent */
    flex-grow: 1; /* Allow the select element to grow and fill the available space */
  }

  /* Style the custom divider */
.divider {
    flex-grow: 1;
    height: 8px;
    background-color: #b81818; /* Change this to the color you want */
    margin: 0 10px; /* Adjust the margin as needed */
  }
  
  /* Style the search bar */
.search-bar {
    display: flex;
    align-items: center;
    margin-top: 50px;
    border-radius: 100px;
    border: 1px solid #F9F9F9;
    background: var(--white, #FFF);
    box-shadow: 0px 2.4px 8.6125px 0px rgba(0, 0, 0, 0.02), 0px 12px 53px 0px rgba(0, 0, 0, 0.04);
        
  }
  
  .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px;
    font-size: 14px;
    
  }

  .search-btn{
    margin-left:40%;
    display: flex;
  }
  
 
  
  
  @media (max-width: 1024px){

  }
  

  @media (max-width: 768px){

  }

  @media (max-width: 480px) {

  }

  @media (max-width:360px){
    
  }