
.footer-menu{
    display: flex;
    flex-direction: row;
    
    
}
.footer-menu a{
    text-decoration: none;
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 5px; /* 100% */ 
}



.logo-title{
    font-size: 25px;
    color: var(--white, #FFF);
    font-weight: 700;
    margin-left: -18px;
}

/* Add  styling for the footer */

.footer {
    background: #000; 
    color: #fff; 
    padding: 1rem 0; 
    margin-top: 100rem;
  }
  
  .footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Align items at the start, center, and end of the row */
    width: 100%; /* Ensure the row spans the full width */
    align-items: center;
    padding: 6rem 6rem; /* Add padding to top and bottom */
  }
  
  .row1 {
    text-align: center;
  }
  
  .row1 h3{
    color: #C4C810;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 24px */
  }
  .row1 h1 {
    margin: 10px 0; 
    color: var(--white, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
  }
  
  
  .footer-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
  
  }
  
  .footer-menu li {
    margin-right: 20px; /* Add margin between menu items */
  }
  
  .logo-footer {
    display: flex;
    align-items: center; 
    margin-left: -90px;
    padding-right: 60px ;
    
  }
  
  .logo-footer img {
    width: 70px; /* Adjust the logo width as needed */
    height: auto;
    margin-right: 10px; /* Add margin between logo and menu items */
  }
  
  .social-icons {
    display: flex;
    margin-right: -70px;
    

  }
  
  .social-icons a {
    margin-right: 20px; 
    font-size: 20px; 
    color: #fff; 
  }


  .copyright {
    text-align: center;
    padding-top: 1rem;
    color: #888;
    max-width: 1140px; 
    margin: 0 auto; 
    border-top: 1px solid rgba(84, 84, 84, 0.40);
  }

  .btn-footer{
    background:#1FD891 !important ;
    color: var(--secondary-color-white, var(--white, #FFF));
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .row1 {
  background-image: url('../../assets/Rectangle 19.png'); /* Path to your Rectangle image */
  background-size: cover; /* Ensure the image covers the entire element */
  background-position: center; 
  padding: 5rem 18rem;
  margin-top: -16rem;
  
}