.Programs{
    display: grid;
    grid-template-columns: repeat(1,2fr);
    margin-bottom: 0;
}

.Programs-list{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}

.course{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 60px;
}

.course-text{
    display: block;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 5px;
}

.Programs-list img{
    width: 83px;
    height: 83px;
    flex-shrink: 0;
}
.course-text p{
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container-row1{

    flex-shrink: 0;
    border-radius: 14px;
    background: #1E1E1E;
    margin-left: 30px;
    margin-right: 30px;
   
    height: 300px;

}

.planet-img {
  width: 120px;
  height: 68px;
  transform: rotate(5.16deg);
  flex-shrink: 0;
  margin-left: auto;
  margin-right: 20px;
  animation-duration: 10s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: translateX(-50%);;
  }
}


  /*** container-row2 **/
.container-row2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 .container-row2 .arrow{
    position: relative;
    align-items: center;
    right: 340px;
    margin-top: 10px;
    width: 160px;
    height: auto;
  }

  .container-row2 h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--blk, #000);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 1100;
    line-height: normal;
    
  }

  .Programs .container-row2 .title{
    margin-left: 40px;
    margin-bottom: 60px;
    margin-top: -50px;
  }

  .container-row2 h3{
    color: var(--blk, #000);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

  }

  .Programs .grid-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 20px;
   
}

.grid-item {
    background-color: lightblue; /* Background color for grid items */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}


.Programs .right-arrow {
  width: 40px; /* Adjust the width as needed */
  height: auto;
  cursor: pointer;
}

.Programs-cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  
}


.Programs .ellipsis {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.Programs .ellipsis-dot-active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #1FD891; /* Change color as needed */
}

.Programs .ellipsis-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #656967; /* Change color as needed */
}

@media screen and (max-width:1240px) {
 
}